*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #fff0f5;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.memes-imagem{
    width: 25%;
}

.memes{
    background-image:linear-gradient(#fff0f5, #ecf3f6);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.memes-div-conteudo{
    width: 35%;
}
       
.memes-titulo{
    padding: 24px 0;
}
